<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login-form.css">
    <title>RANK Ai for Conversion.ai | RankFortress</title>
</head>

<body>

    <section class="loading-screen">
        <div class="indicator"></div>
        <h1>Just a sec...</h1>
    </section>

    <main>
        <img src="../assets/images/logo.svg" alt="">
        <form id="login-form" action="#">
            <h2>Login</h2>
            <p class="error-message"></p>
            <label>Username</label>
            <input name="username" type="text" autofocus>
            <label>Password</label>
            <input name="password" type="password">
            <input type="submit" value="Login">
        </form>

        <div class="credits">
            <p>
                <span data-link="#">William Jones</span> • 
                <span data-link="#">Francis Ian Dela Victoria</span> • 
                <span data-link="#">Paul Bryan Reyes</span>
            </p>
            <p>© 2021 All Rights Reserved. • <span data-link="#">RankFortress</span></p>
        </div>
    </main>

    <script src="../scripts/login-form.js"></script>
</body>

</html>